html {}

body {
  width: 100%;
}

h1 {
  font-style: helvetica;
  font-size: 300%;
  margin-top: 3%;
  text-align: center;
}

img {
  width: 50%;
}
#slide4 img{
  width 70%;
}
li {
  font-size: 200%;
  font-style: arial;
}

.main {
  height: 200%;
}
.main h1{
 position:absolute;
  left: 55%;
}
#imgMain {
  width: 50%;
  position: absolute;
  top: 30%;
  left: 30%;
}

.bubble {
  background-color: white;
  width: 4%;
  border: none;
  outline: none;
  cursor: pointer;
}

.bubble1 {
  position: absolute;
  top: 5%;
  left: 20%;
}

.bubble1 img {
  width: 150%;
}

.bubble2 {
  position: absolute;
  top: 17%;
  left: 25%;
}

.bubble2 img {
  width: 120%;
}

.bubble3 {
  position: absolute;
  top: 27%;
  left: 20%;
}

.bubble3 img {
  width: 100%;
}

.bubble4 {
  position: absolute;
  top: 37%;
  left: 25%;
}

.bubble4 img {
  width: 80%;
}

.bubble5 {
  position: absolute;
  top: 47%;
  left: 30%;
}

.largeOverseer {
  width: 100%;
  height: 200%;
}

.slideDiv {
  width: 84%;
  margin: 0px;
  height: 100%;
  display: none;
  margin-left: 8%;
}

.slideDiv img {
  width: 50%;
}

.button-div {
  height: 100%;
  width: 10%;
  background-color: white;
}

.slowRecovery {
  position: absolute;
  top: 15%;
  left: 10%;
}

.habitatDestruction {
  position: absolute;
  top: 20%;
  left: 10%;
}

.overfishing {
  position: absolute;
  top: 25%;
  left: 10%;
}

.poaching {
  position: absolute;
  top: 30%;
  left: 10%;
}

.explaination {
  margin-left: 40%;
  width: 30%;
  font-size: 120%;
}

#SRimg {
  width: 10%;
  position: absolute;
  left: 40%;
  display: none;
}

#HDimg {
  width: 10%;
  position: absolute;
  left: 40%;
  display: none;
}

#OFimg {
  width: 10%;
  position: absolute;
  left: 40%;
  display: none;
}

#PCimg {
  width: 10%;
  position: absolute;
  left: 40%;
  display: none;
}

#mainMain {
  width: 10%;
  height: 10%;
  margin: 0px;
  cursor: pointer;
  position: absolute;
  top: 10%;
  color: black;
  transition: 0.6s ease;
  font-size: 300%;
  border-radius: 2px;
  border: none;
  outline: none;
  background-color: white;
}

#mainMain:hover {
  background-color: black;
  color: white;
}

#slideButtonBack {
  left: 0px;
  margin-left: 1%;
}

#slideButtonForward {
  right: 0px;
  margin-right: 1%;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {
    opacity: .3
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .3
  }

  to {
    opacity: 1
  }
}
