h1 {
  text-align: center;
  font-family: verdana;
  margin-bottom: 3px;
}

#settingsDiv {
  position: absolute;
  top: 10px;
  right: 10px;
}


/*alert box */
#alertMain {
  display: none;
  position:absolute;
  margin: auto;
  z-index: 10;
} 

.small {
  width: 30%;
  height: 25%;
  left: 35%;
  top: 32.5%;
}

.medium {
  width: 40%;
  height: 30%;
  left: 30%;
  top: 30%;
}

.large {
  width: 40%;
  height: 40%;
  left: 30%;
  top: 25%;
}

#alertBox {
  width: 100%;
  height: 100%;
  border: black 2px solid;
  border-radius: 5px;
  background-color: white;
}

#alertMessage {
  width: 80%;
  height: 70%;
  text-align: center;
  margin: auto;
  position:relative;
  top: 20px;
}


#closeButton {
  width: 90px;
  margin: auto;
  position: relative;
  bottom: 10px;
}

#alertCloseButton {
  outline: none;
  border: 1px solid black;
}

/* buttons */
.buttons {
  padding-left: 20%;
}

.button {
  text-align: center;
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
  color: black;
  text-decoration: none; 
  border-radius: 2px;
  background-color: #e7e7e7;
  outline: none;
  border: 1px solid black;
}

.button1 {
  height: 100%;
  width: 100%;
}

.buttonDiv {
  width: 80px;
  height: 37px;
  position: relative;
}

.bar {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  border-radius: 2px;
  background-color: #A9A9A9;
  z-index: 2;
}

.barBack {
  height: 100%;
  width: 100%;
  border-radius: 2px;
  background-color:#f9f9f9;
  z-index: -1;
}

.directButtonDiv {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 9;
}

#grainBar {
  width:100%;
}

#stoneBar {
  width:100%;
}

#woodBar {
  width:100%;
}

#cornBar {
  width:100%;
}

#grainButtonDiv {
  display: inline-block;
}

#woodButtonDiv {
  display: none;
}

#stoneButtonDiv {
  display: none;
}

#cornButtonDiv {
  display: none;
}

.timeout {
  background:none;
}

/* some paragraphs */
p.p2 {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 2px;
  margin-left: 2px;
}

.p1 {
  margin-top: 20px;
  margin-left: 20%;
}

.info {
  display: none;
  padding-right: 20px;
  padding-left: 20px;
  border-width: thin;
  border-style: solid;
  margin-right: 100px;
  float: right;
}

/* tabs*/
.tabsdiv {
  text-align: center;
  font-size: 0px;
}

.tabs {
  text-align: center;
  padding: 5px 20px;
  font-size: 15px;
  cursor: pointer;
  color: black;
  text-decoration: none;
  border: none;
  margin-top: 10px;
  margin-bottom: 30px;
  transition: 0.3s;
  display: inline;
}

.tabs.active {
  background-color: #ccc;
}

.tabs:hover {
  background-color: #ddd;
}

.tabs1 {
  outline: none;
}

.tabContent {
  height: 100%;
  width: 100%;
}

/* map*/


.gridContainer {
  display: grid;
  grid-template-columns: 85px 85px 85px 85px 85px;
  grid-gap: 10px;
  padding: 10px;
  width: 450px;
  margin: auto;
}

.gridTile {
  border: 1px solid black;
  height: 85px;
}

.controller {
  text-align: center;
  height: 100%;
}

/*maptext*/
p.p3 {
  text-align: center;
  font-size: 10px;
  margin-top: 20%;
}

/* Map buttons */
.exploreButton {
  font-size: 10px;
  border: none;
  outline: none;
  margin-top: 20%;
  cursor: pointer;
}

.toolTip {
  position: relative;
  display: inline-block;
}

.toolTip .toolTiptext {
  visibility: hidden;
  width: 70px;
  background-color: #c0c0c0;
  text-align: center;
  border: none;
  border-radius: 2px;
  padding: 3px 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -35px;
  font-size: 56%
}

.toolTip:hover .toolTiptext {
  visibility: visible;
}

/* explore boxes text*/
.explorebox {
  text-align: center;
}

.exploreText {
  font-size: 10px;
  margin-top: 15px;
}

/* barn*/
.sheds {
  width: 100%;
  text-align: center;
}

.animalShed {
  border: 1px solid black;
  margin-top: 10px;
  height: 300px;
  width: 18%;
  display: inline-block;
  vertical-align: text-top;
}

#sheepProduction1 {
  margin-bottom: 2px;
}

#sheepProduction2 {
  margin-top: 0px;
}

#dogProduction1 {
  margin-bottom: 2px;
}

#dogProduction2 {
  margin-top: 0px;
  margin-bottom: 2px;
}

#dogProduction3 {
  margin-bottom: 2px;
}

/*barns stuffs*/
.brokenBarntext {
  font-size: 15px;
  text-align: center;
}

.brokenBarn {
  text-align: center;
  width: 60%;
  margin: auto;
}

.brokenBarn .button {
  display: inline-block;
}

.shedTitle {
  margin-top: 8px;
  text-align: center;
}

.animals {
  padding: 0px 5px;
  font-size: 10px;
}

.buttonBarn {
  border: none;
  font-size: 10px;
  width: 100%;
  height: 100%;
}

.breedButtonDiv {
  position: absolute;
  z-index: 9;
  width: 100%;
  height: 100%;
}

.breed {
  position: relative;
  margin: auto;
  width: 100px;
  height: 31px;
}

.breedInfo {
  visibility: hidden;
  width: 70px;
  background-color: #c0c0c0;
  text-align: center;
  border: none;
  border-radius: 2px;
  padding: 3px 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -35px;
  font-size: 56%
}

.breed:hover .breedInfo {
  visibility: visible;
}

#horseGlueDiv {
  top: 30px;
}


/* barn 2 stuff*/
#totalProduction {
  text-align: center;
  margin:auto;
}

.barnGridContainer {
  display: grid;
  grid-template-columns: 105px 105px 105px 105px;
  grid-gap: 10px;
  padding: 10px;
  width: 450px;
  margin: auto;
}

.barnGridTile{
  border: 1px solid black;
  height: 105px;
}

.animalName {
  margin-bottom: 0px;
}

.animalType {
  font-size: 10px;
  margin:0px;
}

.production {
  font-size: 10px;
}

.barnAdd {
  text-align: center;
  outline: none;
  position: relative;
  top: -100px;
  right: -50px;
  border-radius: 20px;
  padding: 0px 4px 0px 4px;
  border: 1px solid black;
  background-color: #ddd;
}

.barnAdd:hover {
  background-color: #a9dca9;
}




/*Maket stalls*/
.marketTitle p {
  text-align: center;
  font-size: 20px;
  margin-top: 0px;
}

#switchButton {
  border: none;
  background-color: white;
  outline: none;
}

.marketOffers {
  height: 100%;
}

.marketBuy {
  width: 100%;
  text-align: center;
  height: 100%;
}

.marketSell {
  width: 100%;
  text-align: center;
  height: 100%;
}

.marketBuyStall {
  width: 15%;
  margin-left: 1.5%;
  margin-right: 1.5%;
  border: 1px solid black;
  display: inline-block;
}

.marketSellStall {
  width: 15%;
  margin-left: 1.5%;
  margin-right: 1.5%;
  margin-top: 20px;
  border: 1px solid black;
  display: inline-block;
}

.marketType {
  border: none;
  font-size: 15px;
  outline: none;
  padding: 5px 10px;
}

.marketItemName {
  font-size: 12px;
  margin-top: 10px;
}

.marketItemPrice {
  font-size: 12px;
  margin-top: 2px;
}

.marketGreen {
  background-color: #a9dca9;
}

.marketRed {
  /* background-color: #FF4500; */
  background-color: #dca9a9;
}

.extraMarket {
  display: none;
}

.marketSideline {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

}

.extraStall {
  width: 20%;
  height: 100%;
  position: relative;
  top:0%;
  margin-left: 1.5%;
  margin-right: 1.5%;
  border: 1px solid black;
  display: inline-block;
  text-align: center;
}
.extraStallInfo {
  height: 250px;
}

.button2 {
  padding: 5px 10px;
  outline: none;
}

#version {
  position: fixed;
  bottom: 0px;
  float: right;
}

#saved {
  position: fixed;
  bottom: 0px;
  right: 10px;
}
