#window{
  height: 96vh;
  border-style: solid;
}


h1 {
  text-align: center;
  font-family: cursive;
  padding-top: 20px;
  margin: 20px;
}

#nav{
  margin: 0 auto;
  height: 50px;
  width: 95vw;
  text-align: center;
}

.navButton{
  height: 50px;
  width: 100px;
  display: inline-block;
}

.button{
  height: 100%;
  width: 100%;
  border-style: none;
  background-color: white;
  border-radius: 5px;
  font-family: serif;
  font-size: 15px;
  outline: none;
}

.button:hover{
  background-color: #e7e7e7;
  cursor: pointer;
}

#home{
  vertical-align: top;
}

#games{
  vertical-align: top;
}

.pageTitle{
  text-align: center;
}

.page{
  margin: 0 auto;
  width:95vw;
  height:80vw;
}


#meme{
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.linksboi{
  font-family: cursive;
  text-decoration: none;
  color: black;
}

#animalFarm{
  position: fixed;
  bottom: 20px;
  left: 15px;
}

#bananaDiv{
  height: 15vw;
  width: 150px;
  text-align: center;
  margin: auto;
}

#banana{
  top: 10%;
}

#bananaPic{
  height: 60px;
}





