html {}

.largeOverseer {
  width: 100%;
  height: 100%;
}

.slideDiv {
  width: 80%;
  margin: 0px;
  height: 100%;
  display: none;
  margin-left: 10%;
}

.button {
  width: 10%;
  height: 10%;
  margin: 0px;
  cursor: pointer;
  position: absolute;
  top: 40%;
  color: black;
  transition: 0.6s ease;
  font-size: 200%;
  border-radius: 2px;
  border: none;
  outline: none;
}

#slideButtonBack {
  left: 0px;
}

#slideButtonForward {
  right: 0px;
}

img {
  width: 70%;
}