:root {
   --bgcolor: #DFF0E2;
   --testcolor: #9febcd;
   --testcolor2:#d4f7ed;
   --textcolor:#45484c;
   --typewriterspeed: 3s;
   --underbarlength:clamp(20vw, 40rem, 70vw);
   --overbarlength: 4rem;
   --fontSize:clamp(1rem, 4vw + 2rem, 10rem);
   --fontFamily:'Questrial', sans-serif;
   --fontFamilyName:'Xanh Mono', monospace;
}

::-webkit-scrollbar {
   /* display: none; */
}

body {
   margin: 0;
   color:var(--textcolor);
   height: 1000vh;
   background-color: var(--bgcolor);
   overscroll-behavior: none;
}



/* main page */

#main { 
   background-color: var(--bgcolor);
   display: grid;
   place-content: center;
   min-height: 100vh;
   min-width: 100vw;
   margin: 0;
   position: fixed;
}
   /* grid properties */
#main {
   grid-template-columns: clamp(5rem, 15vw, 25rem) 0em 1fr clamp(5rem, 15vw, 25rem);
   grid-template-rows: clamp(5rem, 30vh, 20rem) clamp(1rem, 4vw + 2rem, 10rem) 3fr clamp(5rem, 30vh, 20rem);
}
   /* name contents */
#nameCnt{
   width: max-content;
   grid-column-start: 2;
   grid-row-start: 2;
   font-family: var(--fontFamilyName);
   position:absolute;
   height: max-content;
   
}

#nameCnt::before,
#nameCnt::after,
#nameCntTop::before,
#nameCntTop::after {
   content: '';
   position: absolute;
   display: block;
   background-color: var(--textcolor);
   height: clamp(5px, 0.4rem, 10px);
   border-radius: 2px;
}

#nameCnt::before{
   width: var(--overbarlength);
}

#nameCnt::after {
   width: var(--underbarlength);
}
      /* name animations */
#name,
#nameTop {
   margin: 0;
   font-size: var(--fontSize);
}

#name::before,
#name::after {
   content: '';
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   height: 0.9em;
   margin:auto;
   margin-left: 0;
   margin-right: 0;
}

#name::before{
   background-color: var(--bgcolor);
   animation: typewriter var(--typewriterspeed) steps(8) 1s forwards ;
}

#name::after {
   background-color: var(--textcolor);
   width: 0.1em;
   animation: 
      typewriter var(--typewriterspeed) steps(8) 1s forwards,
      caret 250ms 6 alternate,
      caret 300ms 10 var(--typewriterspeed) alternate-reverse forwards;
   }


   /* welcome */

#welcome{
   font-size: 2rem;
   font-weight: 400;
   font-family: var(--fontFamily);
   opacity: 0;
   grid-column-start: 3;
   grid-row-start: 3;
   transform: translateY(3rem);
   animation: welcome 2s forwards calc(var(--typewriterspeed) + 1s);
}



/* content */
#content  {
   display: none;
   place-content: center;
   min-width: 100vw;
   grid-template-columns:1vw calc(8*var(--fontSize)) 1fr ;
   grid-template-rows: 1vh var(--fontSize) 1fr;
}

#nameCntTop {
   width: max-content;
   height: max-content;
   position:fixed;
   font-family: var(--fontFamilyName);
   margin-left: 1vw;
   margin-top: 1vh;
}

#nameCntTop::before {
   width: var(--overbarlength);
}

#nameCntTop::after {
   width: 98vw;
}


/* animations */
@keyframes typewriter {
   to {
      left: 100%;
   }
}

@keyframes caret {
   to {
      background: transparent;
   }   
}

@keyframes welcome {
   to {
      opacity: 1;
      transform: translateY(0);
   }
}
