/* flexbox */

body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: stretch;
}

.shaker {
    animation: shake 0.5s;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

br {
    display: block;
    content: "";
    margin-top: 10px;
}

.flexItem{
    display: flex;
    justify-content: center;
    align-items: center;
}

#flexUp {
    width: 100%;
    height: 10%;
    order: 1;
}

#flexDown {
    width: 100%;
    height: 10%;
    order: 5;
}

#flexRight {   
    width: 20%;
    order: 4;
}

#flexLeft {
    width: 20%;
    order: 2;
}

#flexCenter {
    width: 60%;
    height: 80%;
    order: 3;
}

/* main */
.arrows {
    /* transform: scale(0.25); */
    height: 40px;
    width: 40px;
}

.arrow {
    width: 40px;
}

#upArrow {
    transform: rotate(90deg); 

}

/* #leftArrow {
} */

#downArrow {
    transform: rotate(270deg);
}

#rightArrow {
    transform: rotate(180deg);
}


.disabled {
    pointer-events: none;
    opacity: 0.3;
}

#main {
    border: solid black 1px;
    border-radius: 25px;
    width: 500px;
    height: 500px;
    flex-wrap: wrap;
    align-content: flex-start;

}

#display {
    width: 100%;
    height: 90%;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 0; 
    background: transparent;  /* Optional: just make scrollbar invisible */
}

p {
    font-family:'Courier New', Courier, monospace;
}

/* inside display */

#codeNumDiv {
    width: 16%;
    height: 8%;
    border-right: solid black 1px;
    border-bottom: solid black 1px;
}

#areaNameDiv {
    width: 80%;
    height: 8%;
    border-bottom: solid black 1px;
}

#codeNum {
    font-size: 20px;
    font-weight: 500;
}

#areaName{ 
    font-size: 20px;
    font-weight: 900;
}



/* modules */

.textModule {
    align-items: stretch;
    flex-wrap: wrap;
}

.inptModule {
    flex-wrap: wrap;
}

.modulette{
    height: min-content;
}

.charInpDiv {
    min-width: 50px;
    height: 100px;
}

.charInp {
    max-width: 25px;
    padding-top: 40px;
    border:none;
    border-bottom: solid black 2px;
    outline: none;
    font-size: 25px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.submitInpDiv {
    width: 500px;
    height: 50px;
}

.submitInp {
    width: 100px;
    border: solid black 1px;
    border-radius: 5px;
    outline: none;
    background-color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.submitInp:hover {
    background-color: lightgrey;
}

.dispTitleDiv {
    width: 500px;
    height: 50px;
}
.dispTitle {
    font-size: 20px;
}

.dispParaDiv {
    padding: 0px 30px;
}

.dispPara {
    text-align: center;
}
